.background {
background-image: url("lab3bg.png");
}

.paddingleftright {
    padding-left: 30px;
    padding-right: 30px;
}
.title {
    padding-top: 15px;
    text-align: center;
    color: #2b5b6b;
    font-family: 'Helvetica';
}
.paddingtopbottom {
    padding-top: 20px;
    padding-top: 20px;
}

.level {
    display: inline-block;
}
.centerText {
    text-align: center;
}

.padBottomRight {
    padding-right: 130px;
    padding-bottom: 20px;
}

